.header-sign {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-sign p {
    color: white;
    cursor: pointer;
}

.header-sign button{
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}
