.component__btn button {
    padding: 14px 28px;
    width: 157px;
    height: 50px;
    left: 44px;
    top: 564px;
    background: #E78346;
    border-radius: 34px;
    color: white;
    text-transform: uppercase;
    border: 0;
    margin-left: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}