.header__nav{
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: #F8F8F7;
}

.header__nav__list{
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    align-items: center;
}
.header__nav__list a {
    color: #ADADAB;
    text-decoration: none;
    padding: 1rem;
    list-style-type: none;
}
.header__nav__social a{
    color: #ADADAB;
}
.header__nav__social a:hover{
    color: #E78346;
    text-decoration: underline;
}
.header__nav__social{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 16px;
    margin-left: 80px;
}
li {
    list-style-type: none;
}
.lastitem{
    padding-right: 15px;
}