
.component__btn button {
    padding: 1rem 9rem;
    color: #fff;
    background: #FF4820;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}
