.profile{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #E5E5E5;
    padding: 50px 50px 100px 50px;
}
.profile__input{
    background-color: white;
}
.profile__input p {
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    color: #ADADAB
}
.profile__input__first_row{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
}
.profile__input__title p{
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding-left: 20px;
    padding-top: 30px;
    color: #383636;
}
.profile__load__photo{
    padding-left: 40px;
}
.profile__load__photo_img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}