.auth{
    text-align: center;
    padding-top: 30px;
}
.auth__title{
    padding-bottom: 10px;
}
.auth__input{
    padding-bottom: 40px;
}
.auth__input_valit{
    padding-bottom: 20px;
    color:red;
}
