.header__info{
    background-color:  #FFFFFF;
    height: 66px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    display: flex;
}
.header__info__list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
.header__info__list__logo{
    padding-right: 70px;
}
a{
    text-decoration: none;
    color: #383636;
    padding: 1rem;
}
.icons{
    display: flex;
    align-items: center;
    padding-left: 225px;
}