.product__card__header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    background-color: #eceff1;
}

.product__card__header a {
    text-decoration: none;
    color: black;
}

