.component__btn button {
    padding: 10px 20px;
    width: 112px;
    height: 37px;
    left: 44px;
    top: 564px;
    background: #E78346;
    border-radius: 34px;
    color: white;
    text-transform: uppercase;
    border: 0;
    margin-left: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    margin-left: 0px;
}
.component__btn__input{
    // display:none;
}

input[type=file]{
    padding: 10px 20px;
    width: 112px;
    height: 37px;
    left: 44px;
    top: 564px;
    background: #E78346;
    border-radius: 34px;
    color: white;
    text-transform: uppercase;
    border: 0;
    margin-left: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    margin-left: 0px;
}
